// Place all the styles related to the Pledges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.actions {
  margin-top: 20px;
}
.field {
  padding-top: 10px;
}

.field label {
  font-size: 1.2em;
}
