// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.proj-title {
  font-size: 1.4em;
  color: #7E8F7C;
  padding-bottom: 2px;
}

.rewards {
  font-size: 1em;
  padding-bottom: 20px;
}

.donate-btn {
  font-size: 1.3em;
  font-family: 'Laila', serif;
}

.project{
  margin-bottom: 20px;
}
